.sorting-item.dragging {
  opacity: 0.5;
  cursor: grabbing;
}

.sorting-slot.highlight {
  background-color: rgba(13, 110, 253, 0.1);
  border-color: rgba(13, 110, 253, 0.5);
}

.border-dashed {
  border-style: dashed !important;
  border-width: 2px !important;
  border-color: #adb5bd !important;
}

.test-card-container:hover {
  transform: none;
}
